
{% extends 'baseBack.html.twig' %}

{% block title %}Matchs{% endblock %}

{% block body %}
    <h1>Matchs</h1>
   
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('matchs_index') }}"><button class="btn btn-default">back to list</button></a>

    <a href="{{ path('matchs_edit', {'id': match.id}) }}"><button class="btn btn-default">edit</button></a>

    {{ include('matchs/back/_delete_form.html.twig') }}





 
{% endblock %}
