

{% extends 'base.html.twig' %}

{% block content %}

 {% for c in listService %}
 <div class="row horizontal-gap">
   <div class="col-lg-4">
                <div class="nk-feature-2">
                    <div class="nk-feature-icon">
                      <!--  <span class="ion-social-twitter"></span>-->
                    </div>
                    <div class="nk-feature-cont text-center">
                   
                        <h3 class="nk-feature-title">
                        <span class="text-main-1">{{ c.titre }} </span> </h3>
                        <div class="nk-gap-1"></div>
                                    {{ c.descrp }} 
                                <div>     {{ c.DateCreation|date('d-m-Y')}} </div>
                                   <span class="text-main-1">{{ c.Prix }} </span> 
                     </div>
                </div>
            </div>
  </div>

      {% endfor%}

{% endblock %}
