{% extends 'base.html.twig' %}

{% block content %}
    <div class="row vertical-gap">
 {% for c in listService %}
 <div class="col-lg-6">
            <div class="nk-product-cat-2">
                  <div class="nk-feature-2">   
                <a class="nk-product-image" href="store-product.html">
                    <img src="public/assets/images/clutch.jpg" alt="With what mingled joy">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a>{{ c.titre }} </a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-rating" data-rating="3.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i> <i class="far fa-star"></i></div>
                    <div class="nk-gap-1"></div>
                                         {{ c.descrp }} 
                        <div class="nk-gap-2"></div>
                    <div class="nk-product-price">Dt {{ c.Prix }} </div>
                    <div class="nk-gap-1"></div>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Contact Coach</a>
                </div>
            </div>
        </div>
    </div>
{% endfor%}
</div>
{% endblock %}
