{% extends 'base.html.twig' %}

{% block content %}
<br><br><br><br>
<div class="class="nk-form"">

            <div class="row align-items-center">
<h2>Service Guide</h2>
{{ form(formService) }}
</fieldset>
</div>
<br><br><br><br>
{% endblock %}
