{% extends 'base2.html.twig' %}
    {% form_theme formReservation 'bootstrap_4_layout.html.twig' %}

{% block content %}
<div class="templatemo-content-container">
          <div class="templatemo-content-widget white-bg">
            <h2 class="margin-bottom-10">Ajouter un Service Guide </h2>
            <p>  </p> 
            {{form_start (formReservation,{'attr' :{'novalidate':'novalidate'}})}}
         

 {{ form_widget(formReservation) }}
 
{{form_end(formReservation)}}
        </div>
      </div>
      

      {% endblock content %}